astroid==2.4.2
certifi==2020.6.20
cycler==0.10.0
isort==5.6.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.2
mccabe==0.6.1
numpy==1.19.2
opencv-python==4.4.0.44
Pillow==7.2.0
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
rope==0.18.0
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
wrapt==1.12.1
